<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    <script src="https://kit.fontawesome.com/973f4891f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="hleft"></div>
            <div class="hcenter">
                <div class="flechai"><i class="fa-solid fa-chevron-left"></i></div>
                <div class="navfecha">MES</div>
                <div class="flechad"><i class="fa-solid fa-chevron-right"></i></div>
            </div>
            <div class="hright">
            </div>
        </div>
    </div>
    </div>
    <script type='module' src="../calendario.js"></script>
    <script type="module" src="../labelOperations.js"></script>
</body>
</html>